<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home page</h1>
    <% if (user) { %>
      <p>Welcome, <%= user.username %>!</p>
      <form action="/user/logout" method="post">
        <button class="logout" type="submit">Sign out</button>
      </form>
    <% } %>
  </body>
</html>
